#canvas {
  position: absolute;
  padding-left: 60px;
}

#main {
  justify-content: center;
  align-items: center;
  position: absolute;
  padding-left: 60px;
}

th,
td {
  outline: rgb(66, 48, 32) 2px solid;
  font-family: "Century Gothic";
  text-align: center;
  font-size: 20px;
  width: 100px;
  padding: 2px 10px 2px 10px;
}

th {
  background-color: rgb(163, 86, 10);
  color: rgb(255, 249, 221);
  text-align: center;
}

td:nth-child(1) {
  background-color: rgb(217, 121, 4);
  color: rgb(255, 249, 221);
}

html,
body {
  height: 100%;
  width: 840px;
}

html {
  display: table;
  margin: auto;
  background-color: rgb(217, 121, 4);
}

body {
  vertical-align: middle;
  background-color: rgb(255, 249, 221);
  height: 120%;
}

#title {
  font-size: 50px;
  text-align: center;
  font-family: "Impact";
  color: rgb(255, 249, 221);
  background-color: rgb(217, 121, 4);
  line-height: 0.7;
  padding-bottom: 20px;
}
#smaller {
  font-size: 25px;
}

#startRecordingbtn {
  font-size: 20px;
  background-color: rgb(217, 121, 4);
  color: rgb(255, 249, 221);
  outline: rgb(66, 48, 32) 2px solid;
  text-align: center;
  font-family: "Century Gothic";
  padding: 7px 15px 7px 15px;
  border-width: 0;
  cursor: pointer;
  margin-bottom: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "functions status"
    "infoContent tableContent";
  justify-items: center;
  align-items: center;
  max-width: 760px;
}

.functions {
  grid-area: functions;
}

.status {
  grid-area: status;
  margin-top: 40px;
  vertical-align: middle;
  text-align: center;
}

.tableContent {
  grid-area: tableContent;
}

.infoContent {
  grid-area: infoContent;
  outline: rgb(66, 48, 32) 2px solid;
  color: rgb(66, 48, 32);
  font-family: "Century Gothic";
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
}

#recordingStatus {
  color: red;
  font-family: "Century Gothic";
  font-size: 20px;
}

#checkBoxField {
  padding: 7px 15px 7px 15px;
  /* margin-left: -20px; */
  font-family: "Century Gothic";
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(163, 86, 10);
  color: rgb(255, 249, 221);
  outline: rgb(66, 48, 32) 2px solid;
}
.game-button1 {
  justify-items: center;
  align-items: center;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
  float: right;
}

.game-button1:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    size: 20;
}

.game-button1:active {
  color: #000
}

.game-button1:active:after {
  background: transparent;
}

.game-button1:hover:before {
  opacity: 1;
}

.game-button1:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}